.keyboard {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
  border: 1px solid black;
}

.key {
  margin: 1px;
  padding: 1px;
  border: 1px solid black;
  display: block;
  min-width: 15px;
  border-radius: 5px;
  width: fit-content;
}
.key:hover {
  background: rgb(13, 105, 185);
  cursor: pointer;
}
